body {
    font-family: 'Open Sans', sans-serif;
}

main {
    display: flex;
    min-height: 100vh;
    flex-direction: row;
}

aside {
    display: flex;
    background-color: white;
    flex: 0 0 20%;
    flex-direction: column;
}

/* Section Maria */

aside #maria {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: 2px solid #E8EBE4;
    border-bottom-width: 0;
    height: 85px;
}

.color {
    color:  #BEC1BB;
    font-size: 13px;
    font-weight: 400;
}

.minicontainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    line-height: 25px;
    font-size: 20px;
}

#maria :nth-child(1) > img {
    width: 45px;
    border-radius: 30px;
    border: 2px solid #E8EBE4;
}

#maria i {
    color: #828485;
    font-size: 25px;
    padding-left: 15px;
}

/* Termino Section Maria */

/* Inicio Section Button */
#button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #E8EBE4;
    border-bottom-width: 0;
    height: 180px;
}

.button {
    background-color: #A491D2; 
    color: white;
    padding: 20px 60px;
    text-align: center;
    font-size: 20px;      
}

.button {
    transition-duration: 0.4s;    
}
  
.button:hover {
    background-color: #CDC3E6;
    color: white;
}

.button:active {
    background-color: #DADCFF;
}
/* Termino Section Button */


/* Inicio Section chats */

#chat-activo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 400;
    overflow: hidden;
    height: calc(100vh - 269px);
}

.borde-chat {
    width: calc(100% - 4px);
    border: 2px solid #E8EBE4;
    border-bottom-width: 0;
}

.chat {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 90px;
}

#chat-activo img {
    width: 60px;
    border-radius: 35px;
    border: 3px solid #E8EBE4;
}

#chat-activo h1 {
    padding-left: 20px;
    line-height: 35px;
    font-size: 20px;
}

#chat-activo p {
    padding-left: 20px;
}

.borde-chat :nth-child(1)  {    
    transition-duration: 0.4s;
}    
      
.borde-chat:hover {
    background-color: #CDC3E6;
    color: white;
}

/* Scroll section 3 varios chat*/

#chat-activo {
    display: block;
    max-height: 80vh;
    overflow-y: scroll;
    text-align: center;
}

#chat-activo::-webkit-scrollbar {
    width: 12px;
}
#chat-activo::-webkit-scrollbar-track {
    box-shadow: none;
    -webkit-box-shadow: inset 0 0 6px #A491D2; 
    border-radius: 10px;
}
#chat-activo::-webkit-scrollbar-thumb {
    box-shadow: none;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px #A491D2;
}

/* Scroll section 3 varios chat*/

/* Termino Section chats */


/* Termino Section aside */
/* Termino Section aside */


/* Inicio Section Contenido chat */

#contenedor_chat {
    display: flex;
    background-color: #e8ebe436;
    flex: 0 0 80%;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#contenedor_chat > section:nth-child(1) {
    margin-bottom: 20px;
}

#contenedor_chat > section:nth-child(1) > img {
    width: 300px;
    border-radius: 20px;
}

#contenedor_chat > section:nth-child(2) {
    text-align: center;
}

#contenedor_chat > section:nth-child(2) > h1 {
    font-size: 45px;
    margin-bottom: 16px;
}

#contenedor_chat > section:nth-child(2) > p {
    font-size: 16px;
    line-height: 16px;
}

.text-negrita {
    font-weight: bold;
}
